<!DOCTYPE html>
<html>
<head>
    <!-- Başlık, meta etiketleri, CSS bağlantıları vb. -->
</head>
<body>
    <header>
        <!-- Başlık veya üst kısım -->
    </header>
    <nav>
        <!-- Navigasyon menüsü -->
    </nav>

    <div class="container">
        <!-- Sayfa içeriği -->
        @RenderBody() <!-- Sayfa içeriği burada yer alacak -->
        <!-- Layout resmi -->
        
        <style>
            body {
                background-image: url('~/css/wallpaperbetter.jpgg');
                background-size: cover; /* Resmi pencereye sığdır */
                background-repeat: no-repeat; /* Tekrarlamayı engelle */
            }
        </style>
    </div>

    <footer>
        <!-- Alt kısım -->
    </footer>

    <!-- JavaScript bağlantıları vb. -->
</body>
</html>