
@{
    ViewData["Title"] = "OzluSozApp";

}


@using System.Web

<h1>OzluSozApp ama yenisi</h1>

<html>


<head>
    <meta name="viewport" content="width=device-width" />



</head>
<body>
    <style>
        #twitter-link img {
            width: 50px; /* Özel genişlik değeri */
            height: 50px; /* Özel yükseklik değeri */
            /* Diğer özel stillendirme seçenekleri */
        }
    </style>


    <div class="d-flex justify-content-center align-items-center" style="min-height: 100vh">

        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Quote of the Day</h5>
                
                <blockquote class="blockquote">
                    <p class="card-text" id="qSoz" style=" font-style:italic">Ya tutarsa...</p>
                </blockquote>
                <blockquote class="blockquote">
                    <p class="card-text" id="qName" style="font-weight: lighter;  font-style: italic ">Nasrettin Hoca</p>
                </blockquote>
                <button class="btn btn-link" onclick="BtnClick()"><img src="~/css/generate.png" alt="Generate" /></button>
                <a class="twitter-share-button"
                   href="https://twitter.com/intent/tweet?hashtags=YazılımPark&text=" id="twitter-link">
                    <img src="~/css/twitter.png" alt="Tweet" />
                </a>




            </div>
        </div>


    </div>
    <div>

        <h2>Id :  <span id="qId"></span></h2>


    </div>

</body>
</html>



<script>
    var previousIndex = -1; // Önceki seçilen indeksi saklamak için

    function BtnClick() {
        $.ajax({
            url: "/ozlusoz/GetQuoteFromJsonFile", // GetQuoteFromJsonFile metodunun çağrı adresi
            method: "GET",
            success: function (data) {
                var randomIndex = getRandomIndex(data.length, previousIndex); // Rastgele bir indeks seç
                var randomQuote = data[randomIndex]; // Rastgele seçilen öğeyi al

                $("#qId").text(randomQuote.id);
                $("#qName").text(randomQuote.name);
                $("#qSoz").text(randomQuote.soz);

                var twitterLink = document.getElementById("twitter-link");
                var tweetText = encodeURIComponent(randomQuote.soz + "\n\n- " + randomQuote.name);
                twitterLink.href = "https://twitter.com/intent/tweet?hashtags=YazılımPark&text=" + tweetText;

           

                previousIndex = randomIndex; // Önceki indeksi güncelle
            },
            error: function (err) {
                console.error(err);
            }
        });
    }

    function getRandomIndex(max, excludedIndex) {
        var randomIndex;
        do {
            randomIndex = Math.floor(Math.random() * max);
        } while (randomIndex === excludedIndex); // Önceki seçilen ile aynı olana kadar tekrar seç
        return randomIndex;
    }




</script>

