@model WeatherModels

<!DOCTYPE html>
<html>
<head>
    <title>Hava Durumu</title>
</head>
<body>
    <h1>Hava Durumu Bilgileri</h1>
    <p>Şehir: @Model.Name</p>
    <p>Rüzgar Hızı: @Model.WindSpeed</p>
    <p>Nem: @Model.Humidity</p>
    <p>Sıcaklık: @Model.Temperature</p>
</body>
</html>
