body {
    background: #363E4E;
}

.weather {
    margin: 15px;
    background-color: #ffffff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 40px 0 #A2A2A2;
}

    .weather:hover {
        box-shadow: 0 0 600px 0 #D4D1DC;
        transition: .4s;
        transform: scale(1.03);
    }
     
button{
    border-radius:100px;
    margin: 5px;
    width: 100%;
    font-size: 35px;
    padding:5px;
}

   
    .bosluk{
        border-radius:150px;
        width:80%;
        font-size:30px;

    }
        .bosluk:focus-visible {
            background-color: #e610bf;
            text-decoration-color: #000000;
        }
        .row{
            font-family:'Poppins', sans-serif;
        }
        /* ----------------------------------------------------------------------------------------------------------------*/
.card {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 300px;
    display: inline-block;
    margin: 10px;
    vertical-align: top;
    background-color: #f5f5f5; /* Açık Gri Renk */
}

.city {
    font-size: 20px;
    font-weight: bold;
}

.description {
    margin-top: 8px;
    color: #555;
}

.temperature {
    font-size: 24px;
    margin-top: 10px;
}

.info {
    margin-top: 10px;
    color: #888;
}

.icon {
    width: 80px; /* İkon boyutunu büyütmek */
    height: 80px;
    margin-left: 10px;
}


.icon, .extra-info img {
    vertical-align: middle;
}

.extra-info img {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}