@{
    ViewData["Title"] = "Home Page";
    Layout = "_OrnekLayout";

    //Layout = "_ResimliLayout";
}


<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>







@*
            ajax öğrenerek indeks hesaplama yap
           <div><a asp-controller="Home" asp-action="ozlusozapp"> Günlük Özlü Söz</a></div>
    <div><a asp-controller="Home" asp-action="Todoapp"> To-Do App</a></div>
    <div><a asp-controller="Home" asp-action="HavaDurumuApp"> Hava Durumu</a></div>
    <div> <a asp-controller="Home" asp-action="IndeksHesapla"> Kitle İndeksi Hesapla</a></div>
    <a class="btn btn-light" asp-controller="HomeController1" asp-action="Index"> Go-></a>
    <a class="btn btn-light" asp-controller="KitleHesap" asp-action="indekshesapla"> Go-></a>
*@




<body>
    
    <div class="container">
        <div class="row">

            <div class="col-lg mb-4">
                <div class="card">
                    <img src="~/css/kitle indeksi.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">BMI Calculator</h5>
                        <p class="card-text">Calculate your estimated body fat percentage using Body Mass Index (BMI)!</p>

                        <a class="btn btn-light" asp-controller="HomeController1" asp-action="Index"> Go-></a>


                    </div>
                </div>
            </div>
            <div class="col-lg mb-4">
                <div class="card">
                    <img src="~/css/todoResim3.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">To-Do App</h5>
                        <p class="card-text">A simple to do list app to manage your daily life tasks. Create your own list! </p>

                        <a class="btn btn-light" asp-controller="liste" asp-action="todoapp"> Go-></a>
                    </div>
                </div>
            </div>
            <div class="col-lg mb-4">
                <div class="card">
                    <img src="~/css/havadurumu3.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Hava Durumu</h5>
                        <p class="card-text">The Weather Channel provide local weather forecast for cities</p>

                        <a class="btn btn-light" asp-controller="havadurumu" asp-action="havadurumuapp"> Go-></a>
                    </div>
                </div>
            </div>
            <div class="col-lg mb-4">
                <div class="card">
                    <img src="~/css/kitaplar3.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title"> Random Quotes</h5>
                        <p class="card-text">Browse of collection of random quotes to give you inspiration </p>
                        <a class="btn btn-light" asp-controller="ozlusoz" asp-action="ozlusozapp"> Go-></a>

                    </div>
                </div>
            </div>

        </div>

    </div>
</body>
